sudo: required

language: node_js

services:
  - docker

node_js:
  - "8"
  - "7"

install:
  - npm i mocha
  - npm i expect

script: 
  - docker image pull akshitgrover/c-alpine
  - docker container run -id --name box-exec-c akshitgrover/c-alpine
  - docker container run -id --name box-exec-cpp akshitgrover/c-alpine
  - docker image pull akshitgrover/python2-alpine
  - docker container run -id  --name box-exec-python2 akshitgrover/python2-alpine
  - docker image pull akshitgrover/python3-alpine
  - docker container run -id --name box-exec-python3 akshitgrover/python3-alpine
  - npm run test 

deploy:
  provider: npm
  email: "akshit.grover2016@gmail.com"
  api_key: 
    secure: "RVJe5kvQoohLsLsXdHbaecU+FpAo9Et8SWWk0e7cQx7V5/m6cCi+XEINU3YQZScU59yRcyTyTCxOHymV3JUoi2Ncv+wXRrS362LNC2PebZMCT7EOikiFJPGEGRV8nbMkigVrLMujlYEG8c61kJ0Mw9e4Loy5FtDX3QfSs58Vw7EzxGYu3yt9dNmAivuhtCNGyyd/4d7HHIRy0f7skg8kueaRgYWB073+Dy8OS68o77ooujID9XUeOzYRwCDvxmx+8O1ktXv0TSOsu0y6D0uHyrzwYWemrNLVsMpcOZ+GqmAOvxlQoBsQHcm3XySP/iFRok7/Hb2RXyJDZeyJ99YvRpb31qCPWSpoNcA5scRC+3Pi1ExMf92wiK775Icpt7U3uvTKjrvKGXXLE83sI5I4cpIeLxTjKNR4L4kCN650EQl4LI9gCrZWv3niW5SoWBVTct+V0UV7m6Hfra2b2it+xgB/Yiy8BClFcWM5h6ZEXvf+TCLzb2/6/Se9KhGliNwmfBlxk8zNMBc8oYamquzl0Imx25Mw+WrcvGvDrgMKnsorZflCu1y7DxxVpHUOgmOuyTA9FE7cLFVXUs0hRYwne/QgUnDK+oBOQLPL/bmz4aSFbXMCflA7O9/okklT7fgOHXz5XJoE7ZdeB26iW///ZRevPOFNJjnEOj8elWHSK84="

